@model Comment

<div>
    <h3>@Model.CommentId</h3>
    <div>@Model.DateCreated</div>
    <div>@Model.DateLastEdited</div>
    <div>@Model.Likes</div>
    <div>
        <div>@Model.Content</div>
        <a asp-controller="Post"
                asp-action="LikeComment"
                asp-route-id="@Model.CommentId">
            Like
        </a>
        <details>
            <summary>Edit</summary>
            <div>
                <partial name="_UpdateComment" model="Model"/>
            </div>
        </details>
    </div>
    <div>
        <details>
            <summary>Reply</summary>
            <div>
                <partial name="_CreateComment" model="new Comment { ParentCommentId = Model.CommentId, PostId = Model.PostId }"/>
            </div>
        </details>
    </div>
    <div class="ps-5">
        @if (Model.CommentReplies != null)
        {
            foreach (var comment in Model.CommentReplies)
            {
                <partial name="_Comment" model="comment"/>
            }
        }
    </div>
</div>