@model Comment
@using System.Security.Claims

<div id="commentId-@Model.CommentId">
    <span asp-validation-for="@Model.Content"></span>
    @*
    <h3>@Model.CommentId</h3>
    *@

    <h3>
        @if (Model.User != null)
        {
            @Model.User.UserName
        }
        else
        {
            <span>Anonymous</span>
        }
    </h3>
    <div>@Model.DateCreated</div>
    <div>@Model.DateLastEdited</div>
    <div>@Model.TotalLikes</div>
    <div>
        <div>@Model.Content</div>
 
  @if (@Model.UserId != User.FindFirstValue(ClaimTypes.NameIdentifier)) // If the user is not the owner of the comment
{
        <a asp-controller="Post"
           asp-action="LikeComment"
           asp-route-id="@Model.CommentId">
            Like
        </a>
}
else // If the user is the owner of the comment show buttons for editing
            {
        <details>
            <summary>Edit</summary>
            <div>
                <partial name="_UpdateComment" model="Model"/>
            </div>
        </details>
}
    </div>
    <div>
        <details>
            <summary>Reply</summary>
            <div>
                <partial name="_CreateComment" model="new Comment { ParentCommentId = Model.CommentId, PostId = Model.PostId }"/>
            </div>
        </details>
    </div>
    <div style="padding-left: 50px">
        @if (Model.CommentReplies != null)
        {
            foreach (var comment in Model.CommentReplies)
            {
                <partial name="_Comment" model="comment"/>
            }
        }
    </div>
</div>