@model Comment

<div class="ps-3">
    <h3>@Model.CommentId</h3>
    <span>@Model.Content</span>

    @if (@Model.CommentReplies != null)
    {
        foreach (var comment in @Model.CommentReplies)
        {
            if (comment.ParentCommentId != @Model.CommentId)
            {
                <partial name="_Comment" model="@comment"/>
            }
           
        }
    }
    <span>Reply</span>
     @*//<partial name="_Comment" model="@comment"/>
                /*<a asp-controller="Comments"
                   asp-action="Create"
                   asp-route-id="@Model.CommentId">
                    Reply
                </a>*/*@

</div>