<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BracketBros</title>
    <link rel="icon" href="~/images/BracketBros-logo.svg" type="image/svg">
    <link href="~/lib/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="~/lib/fontawesome/css/brands.css" rel="stylesheet">
    <link href="~/lib/fontawesome/css/solid.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
    <link href="~/css/post-card.css" rel="stylesheet">
    <link href="~/css/post-compact.css" rel="stylesheet">
    <link href="~/css/shared-postCard.css" rel="stylesheet">
    <link href="~/css/identity-account.css" rel="stylesheet">
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>
<body>
<header>
    <nav>
        <a asp-area="" asp-controller="Home" asp-action="Index" id="brand">
            <i class="fa-solid fa-laptop-code"></i>
            <span>BracketBros</span>
        </a>
        <button id="burger-btn" class="nav-btn-icon">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-xmark"></i>
        </button>
        <div id="nav-links-container">
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="@IsActive("Home", "Index") nav-btn-text">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Post" asp-action="Card" class="@IsActive("Post", "Card") or @IsActive("Post", "Compact") nav-btn-text">Posts</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Search" asp-action="Index" class="@IsActive("Search", "Index") nav-btn-text">Search</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Post" asp-action="Create" class="@IsActive("Post", "Create") nav-btn-text">Create Post</a>
                </li>
            </ul>
            <div id="nav-login-container">
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>
<main>
    <div id="main-inner-container">
        @RenderBody()
        @RenderSection("scripts", required: false)
    </div>
</main>
</body>
</html>

@functions {
    public string IsActive(string controller, string action)
    {
        var currentController = ViewContext.RouteData.Values["controller"] as string;
        var currentAction = ViewContext.RouteData.Values["action"] as string;

        return controller == currentController && action == currentAction ? "active" : "";
    }
}