@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var signedIn = false;
}

@if (SignInManager.IsSignedIn(User) && UserManager.GetUserAsync(User).Result != null)
{
    signedIn = true;
}

<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BracketBros</title>
    <link rel="icon" href="~/images/BracketBros-logo.svg" type="image/svg">
    <link href="~/lib/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="~/lib/fontawesome/css/brands.css" rel="stylesheet">
    <link href="~/lib/fontawesome/css/solid.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
    <link href="~/css/home.css" rel="stylesheet">
    <link href="~/css/post-card.css" rel="stylesheet">
    <link href="~/css/post-compact.css" rel="stylesheet">
    <link href="~/css/shared-postCard.css" rel="stylesheet">
    <link href="~/css/shared-postCompact.css" rel="stylesheet">
    <link href="~/css/shared-comment.css" rel="stylesheet">
    <link href="~/css/shared-comments.css" rel="stylesheet">
    <link href="~/css/shared-createComment.css" rel="stylesheet">
    <link href="~/css/shared-updateComment.css" rel="stylesheet">
    <link href="~/css/shared-footer.css" rel="stylesheet">
    <link href="~/css/identity-account/main.css" rel="stylesheet">
    <link href="~/css/identity-account/manageNav.css" rel="stylesheet">
    <link href="~/css/identity-account/profile.css" rel="stylesheet">
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
</head>
<body>
<header>
    <nav>
        <a asp-area="" asp-controller="Home" asp-action="Index" id="brand">
            <i class="fa-solid fa-laptop-code"></i>
            <span>BracketBros</span>
        </a>
        <button id="burger-btn" class="nav-btn-icon">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-xmark"></i>
        </button>
        <div id="nav-links-container">
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="@IsActive("Home", "Index") nav-btn-text">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Post" asp-action="Card" class="@IsActive("Post", "Card") or @IsActive("Post", "Compact") nav-btn-text">Posts</a>
                </li>
                @if (signedIn)
                {
                    <li>
                        <a asp-area="" asp-controller="Dashboard" asp-action="Dashboard" class="@IsActive("Dashboard", "Dashboard") nav-btn-text">Dashboard</a>
                    </li>

                    @* Admin dashboard *@
                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a asp-area="" asp-controller="Dashboard" asp-action="AdminDashboard" class="@IsActive("Search", "Index") nav-btn-text">Admin dashboard</a>
                        </li>
                    }
                }


                <li>
                    <a asp-area="" asp-controller="Search" asp-action="Index" class="@IsActive("Search", "Index") nav-btn-text">Search</a>
                </li>
                @if (signedIn)
                {
                    <li>
                        <a asp-area="" asp-controller="Post" asp-action="Create" class="@IsActive("Post", "Create") nav-btn-text">Create Post</a>
                    </li>
                }
            </ul>
            <div id="nav-login-container">
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>
<main>
    <div id="main-inner-container">
        @RenderBody()
        @RenderSection("scripts", false)
    </div>
</main>
<footer>
    <div class="fixed-width copyright-info">BracketBros © 2023</div>
    <div class="social-media-links">
        <a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://www.tiktok.com/" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
        <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <address class="fixed-width">Office: <a href="https://maps.app.goo.gl/Cyb3aW4xv7TZAmKQ9" target="_blank">Pilestredet 35 0166, Oslo, Norway</a>
    </address>
</footer>
</body>
</html>

@functions {

    public string IsActive(string controller, string action)
    {
        var currentController = ViewContext.RouteData.Values["controller"] as string;
        var currentAction = ViewContext.RouteData.Values["action"] as string;

        return controller == currentController && action == currentAction ? "active" : "";
    }

}