<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BracketBros</title>
    <link href="~/lib/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="~/lib/fontawesome/css/brands.css" rel="stylesheet">
    <link href="~/lib/fontawesome/css/solid.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand d-flex gap-2" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="/images/code-solid.svg" alt="" width="24" class="d-inline-block align-text-top">
            <span>BracketBros</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Post" asp-action="Card">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Search" asp-action="Index">Search</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" asp-area="" asp-controller="Post" asp-action="Create">Create Post</a>
                </li>
            </ul>
            <div>
                My profile
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </div>
    </nav>
    <nav>
        <a asp-area="" asp-controller="Home" asp-action="Index" id="brand">
            <i class="fa-solid fa-laptop-code"></i>
            <span>BracketBros</span>
        </a>
        <button id="burger-btn">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-xmark"></i>
        </button>
        <ul id="nav-link-list">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="@IsActive("Home", "Index")">Home</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Post" asp-action="Card" class="@IsActive("Post", "Card")">Posts</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Search" asp-action="Index" class="@IsActive("Search", "Index")">Search</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Post" asp-action="Create" class="@IsActive("Post", "Create")">Create Post</a>
            </li>
        </ul>
        <button id="profile-btn">
            <i class="fa-solid fa-user"></i>
        </button>
    </nav>
</header>
<div>
    <main>
        @RenderBody()
        @RenderSection("scripts", required: false)
    </main>
</div>
</body>
</html>

@functions {
    public string IsActive(string controller, string action)
    {
        var currentController = ViewContext.RouteData.Values["controller"] as string;
        var currentAction = ViewContext.RouteData.Values["action"] as string;

        return controller == currentController && action == currentAction ? "active" : "";
    }
}