@using System.Security.Claims
@using Markdig
@model forum.ViewModels.PostCardViewModel

<div class="shared-postCard">
    <div class="top">
        <div class="chips">
            <a asp-controller="Search"
               asp-action="Search"
               asp-route-term="@Model.Post.Category?.Name"
               class="category" style="background-color: @Model.Post.Category?.Color">
                @Model.Post.Category?.Name
            </a>

            @if (Model.Post.Tags != null)
            {
                foreach (var tag in Model.Post.Tags)
                {
                    <a asp-controller="Search"
                       asp-action="Search"
                       asp-route-term="@tag.Name"
                       class="tag">
                        @tag.Name
                    </a>
                }
            }
        </div>
        <div class="creation-info">
            Posted by
            <span class="user">
                @if (Model.Post.User != null)
                {
                    <a asp-controller="Search"
                       asp-action="Search"
                       asp-route-term="@Model.Post.User.UserName">
                        @Model.Post.User.UserName
                    </a>
                }
                else
                {
                    <span class="deleted-user" title="Deleted user">[deleted user]</span>
                }
            </span>
            @CalculateTimeAgo(Model.Post.DateCreated)
            @if (Model.Post.DateLastEdited != null)
            {
                <span class="last-edited">Last edited @CalculateTimeAgo(Model.Post.DateLastEdited.Value)</span>
            }
        </div>
    </div>

    <div class="content">
        <div class="title">@Model.Post.Title</div>
        <div class="@(Model.LimitContent ? "limit-content" : "")">
            @Html.Raw(Markdown.ToHtml(Model.Post.Content))
        </div>
    </div>

    <div class="bottom">
        <div class="likes-comments">
            <a asp-controller="Post"
               asp-action="LikePost"
               asp-route-id="@Model.Post.PostId">
                <i class="fa-solid fa-thumbs-up"></i>@Model.Post.TotalLikes likes
            </a>
            <a asp-controller="Post"
               asp-action="Post"
               asp-route-id="@Model.Post.PostId">
                <i class="fa-solid fa-comment"></i>@Model.Post.Comments?.Count comments
            </a>
        </div>
        <div class="links">
            @if (Model.Post.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
            {
                <a asp-controller="Post"
                   asp-action="Update"
                   asp-route-id="@Model.Post.PostId">
                    Edit
                </a>
                <a asp-controller="Post"
                   asp-action="Delete"
                   asp-route-id="@Model.Post.PostId">
                    Delete
                </a>
            }
            
            @if (!Model.HideGoToPost)
            {
                <a asp-controller="Post"
                   asp-action="Post"
                   asp-route-id="@Model.Post.PostId">
                    Go to post
                </a>
            }
        </div>
    </div>
</div>

@functions {

    static string CalculateTimeAgo(DateTime date)
    {
        var timeDifference = DateTime.Now - date;

        if (timeDifference.TotalMinutes < 1)
        {
            return "just now";
        }
        if (timeDifference.TotalMinutes < 60)
        {
            var minutesAgo = (int)timeDifference.TotalMinutes;
            return $"{minutesAgo} {(minutesAgo == 1 ? "minute" : "minutes")} ago";
        }
        if (timeDifference.TotalHours < 24)
        {
            var hoursAgo = (int)timeDifference.TotalHours;
            return $"{hoursAgo} {(hoursAgo == 1 ? "hour" : "hours")} ago";
        }
        if (timeDifference.TotalDays < 30)
        {
            var daysAgo = (int)timeDifference.TotalDays;
            return $"{daysAgo} {(daysAgo == 1 ? "day" : "days")} ago";
        }
        if (timeDifference.TotalDays < 365)
        {
            var monthsAgo = (int)(timeDifference.TotalDays / 30);
            return $"{monthsAgo} {(monthsAgo == 1 ? "month" : "months")} ago";
        }
        var yearsAgo = (int)(timeDifference.TotalDays / 365);
        return $"{yearsAgo} {(yearsAgo == 1 ? "year" : "years")} ago";
    }

}