@model Post
@{
    ViewData["Title"] = "Delete Post";
}

<div class="post-delete">
    <h1>Delete Post</h1>
    <h2>Are you sure you want to delete this post?</h2>
    
    <table>
        <thead>
        <tr>
            <td>Title</td>
            <td>@Model.Title</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Category</td>
            <td>@Model.Category?.Name</td>
        </tr>
        <tr>
            <td>Tags</td>
            <td>
                @if (Model.Tags != null)
                {
                    <div class="tags">
                        @foreach (var tag in Model.Tags)
                        {
                            <span class="tag">@tag.Name</span>
                        }
                    </div>
                }
            </td>
        </tr>
        <tr>
            <td>Content</td>
            <td>@Model.Content</td>
        </tr>
        </tbody>
    </table>
    
    @* Actions: Cancel or confirm deletion *@
    <div class="actions-container">
        <a href="javascript:history.go(-1)" class="input"><i class="fa-solid fa-arrow-left"></i> Cancel</a>
        
        <form asp-action="DeleteConfirmed" asp-route-id="@Model.PostId">
            <button type="submit" class="delete"><i class="fa-solid fa-trash-can"></i> Delete</button>
        </form>
    </div>
</div>
