@model Post
@{
    ViewData["Title"] = @Model.Title;
}

<div>
    <h1>@Model.PostId</h1>
    <h2>@Model.Title</h2>
    <div>
        <span>@Model.Content</span>
        <span>Created: @Model.DateCreated</span>
        <span>Last edited: @Model.DateLastEdited</span>
        <details>
            <summary>Add comment</summary>
            <div>
                <partial name="_CreateComment" model="new Comment { PostId = Model.PostId }" />
            </div>
        </details>
        @if (Model.Comments != null)
        {
            <partial name="_Comments" model="Model.Comments"/>
        }
    </div>
</div>