@model Post
@{
    ViewData["Title"] = @Model.Title;
}

<div>
    <h1>@Model.Title</h1>
    <div>
        <span>@Model.PostId</span>
        <span>@Model.Content</span>
        <span>Created @Model.DateCreated</span>
        @*<span>Last active @Model.DateLastEdited</span>*@
        @if (Model.Comments != null)
        {
            <partial name="_Comments" model="Model.Comments"/>
        }
    </div>
</div>