@model Post
@{
    ViewData["Title"] = @Model.Title;
}

<div>
    <h1>@Model.Title</h1>
    <div>
        <span>@Model.PostId</span>
        <span>@Model.Content</span>
        <span>Created @Model.DateCreated</span>
        @*<span>Last active @Model.DateLastEdited</span>*@
        <div>
            @if (@Model.Comments != null && @Model.Comments.Count > 0)
            {
                @foreach (var comment in Model.Comments)
                {
                    @if (comment.ParentCommentId == null)
                    {
                        <partial name="_Comment" model="comment"/>
                    }
                }
            }
            else
            {
                <span>No comments yet, be the first to comment</span>
            }
        </div>
    </div>
</div>