@model forum.ViewModels.ItemListViewModel

<h1>List of Shop Items (@Model.CurrentViewName View)</h1>
<a href="/Item/Grid">Grid View</a>

<div class="container">
    <table class='table table-striped'>
        <tr><th>Id</th><th>Name</th><th>Price</th><th>Description</th></tr>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.ItemId</td>
                <td>
                    <a asp-controller="Item"
                        asp-action="Details"
                        asp-route-id="@item.ItemId">@item.Name</a>
                </td>
                <td>@item.Price.ToString("0.00 NOK")</td>
                <td>@item.Description</td>
                <td></td>
            </tr>
        }
    </table>
</div>
