@model forum.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "Admin Dashboard";
}

<style>
     details summary {
         list-style-type: ' ';
     }
</style>

<div class="admin-dashboard">
    @* Configure categories *@
    <section class="configure-categories">
        <h1>Configure categories</h1>

        @* Add new category *@
        <section class="add-category">
            <div>
                <h2>Add category</h2>
                <hr>
            </div>
            <form asp-action="NewCategory" enctype="multipart/form-data">
                @* Color *@
                <div class="form-group">
                    <label asp-for="@Model.Category!.Color"></label>
                    <input required type="color" id="NewCategory-color-field" asp-for="@Model.Category!.Color"/>
                </div>

                @* Name *@
                <div class="form-group">
                    <label asp-for="@Model.Category!.Name"></label>
                    <input required asp-for="@Model.Category!.Name"/>
                </div>
                
                @* Image *@
                <div class="form-group">
                    <details>
                        <summary>
                            <i class="fa fa-upload" aria-hidden="true"></i>
                            File upload
                        </summary>
                        <input type="file" accept=".png,.jpg,.jpeg,.gif,.tif"
                               asp-for="@Model.Category!.PictureBytes"
                               class="img-input"/>
                        <span asp-validation-for="@Model.Category!.PictureBytes" class="error"></span>
                    </details>
                    <details>
                        <summary>
                            <i class="fa fa-link" aria-hidden="true"></i>
                            URL
                        </summary>
                        <input required asp-for="@Model.Category!.PicturePath"/>
                    </details>
                </div>

                @* Submit button (add) *@
                <input type="submit" value="Add"/>
            </form>
        </section>

        @* Change or delete existing categories *@
        <section class="change-categories">
            <div>
                <h2>Change categories</h2>
                <hr>
            </div>
            @* Lists all existing categories *@
            @foreach (var category in Model.CategoryList.OrderBy(c => c.Name))
            {
                <div class="category-changer">
                    <form asp-action="UpdateCategory" enctype="multipart/form-data">
                        @* Hidden input for ID *@
                        <input hidden="" asp-for="@category.CategoryId"/>

                        @* Color *@
                        <div class="form-group">
                            <label asp-for="@category.Color"></label>
                            <input required type="color" asp-for="@category.Color"/>
                        </div>

                        @* Name *@
                        <div class="form-group">
                            <label asp-for="@category.Name"></label>
                            <input required asp-for="@category.Name"/>
                        </div>

                        @* Image *@
                        <div class="form-group">
                            <details>
                                <summary>
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                    File upload
                                </summary>
                                <label asp-for="@category!.PictureBytes">Upload image</label>
                                <input type="file" accept=".png,.jpg,.jpeg,.gif,.tif"
                                       asp-for="@category!.PictureBytes"
                                       class="img-input"/>
                                <span asp-validation-for="@Model.Category!.PictureBytes" class="error"></span>
                            </details>
                            <details>
                                <summary>
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                    URL
                                </summary>
                                <label asp-for="@category.PicturePath"></label>
                                <input required asp-for="@category.PicturePath"/>
                            </details>
                        </div>
                        
                        @* Submit button (update) *@
                        <input type="submit" value="Update"/>
                    </form>

                    @* Image preview *@
                    <img src="@category.PicturePath" alt="Category image - @category.Name">

                    @* Delete button (delete category) *@
                    <a asp-action="DeleteCategory"
                       asp-route-id="@category.CategoryId"
                       class="clickable input delete-input">
                        <i class="fa-solid fa-trash-can"></i> Delete
                    </a>
                </div>
            }
        </section>
    </section>

    @* Tags *@
    <section class="configure-tags">
        <h1>Configure tags</h1>
        
        @* Add new tag *@
        <section class="add-tag">
            <div>
                <h2>Add tag</h2>
                <hr>
            </div>
            <form asp-action="NewTag">
                <input required asp-for="@Model.Tag!.Name"/>
                <input type="submit" value="Add"/>
            </form>
        </section>

        @* Change or remove existing tags *@
        <section class="change-tags">
            <div>
                <h2>Change/delete tags</h2>
                <hr>
            </div>
            <div class="tags">
                @* Lists all existing tags *@
                @foreach (var tag in Model.TagList.OrderBy(c => c.Name))
                {
                    <div class="tag">
                        @* Hidden input for ID *@
                        <form asp-action="UpdateTag">
                            <input hidden="" asp-for="@tag.TagId"/>
                            <input onchange="this.form.submit()" asp-for="@tag.Name"/>
                        </form>
                        
                        @* Delete button (delete tag) *@
                        <a asp-action="DeleteTag"
                           asp-route-id="@tag.TagId"
                           class="clickable input delete-input">
                            <i class="fa-solid fa-trash-can"></i> Delete
                        </a>
                    </div>
                }
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["ErrorMessage"]
                    </div>
                }
                @if (TempData["TestMessage"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["TestMessage"]
                    </div>
                }
            </div>
        </section>
    </section>
</div>

<script defer>
// Random color generator for new category
document.getElementById("NewCategory-color-field").value= '#'+Math.floor(Math.random()*16777215).toString(16);
// Source: https://www.paulirish.com/2009/random-hex-color-code-snippets/
</script>