@using Microsoft.IdentityModel.Tokens
@model ApplicationUser

@{
    ViewData["Title"] = "Dashboard";
}


<div class="dashboard">
    <h1 class="title">Dashboard</h1>

    @* Posts *@
    <section>
        <h2>Posts</h2>
        <hr>

        @* User's posts *@
        <section>
            <h3>My posts:</h3>
            @if (Model.Posts == null || Model.Posts.Count == 0)
            {
                <p>You have no posts.</p>
                <a asp-area="" asp-controller="Post" asp-action="Create">Create your first post!</a>
            }
            else
            {
                <div class="posts">
                    @foreach (var post in Model.Posts.OrderByDescending(post => post.DateCreated))
                    {
                        <partial name="_PostCompact" model="post"/>
                    }
                </div>
            }
        </section>

        @* User's liked posts *@
        <section>
            <h3>Liked posts:</h3>
            @if (Model.LikedPosts == null || Model.LikedPosts.Count == 0)
            {
                <p>You have not liked any posts.</p>
                <a asp-area="" asp-controller="Post" asp-action="Card">Have a look at what's out there!</a>
            }
            else
            {
                <div class="posts">
                    @foreach (var post in Model.LikedPosts.OrderByDescending(post => post.DateCreated))
                    {
                        <partial name="_PostCompact" model="post"/>
                    }
                </div>
            }
        </section>
    </section>

    @* Comments *@
    <section>
        <h2>Comments</h2>
        <hr>

        @* User's comments *@
        <section>
            <h3>My comments:</h3>
            
            @* If no comments have been made, show text and link to posts *@
            @if (Model.Comments == null || Model.Comments.Count == 0)
            {
                <p>You have not made any comments.</p>
                <a asp-area="" asp-controller="Post" asp-action="Card">Explore and comment if something interests you!</a>
            }
            else
            {
                <div class="comments">
                    @* Lists all comments. Order by DateCreated (new -> old) *@
                    @foreach (var comment in Model.Comments.OrderByDescending(comment => comment.DateCreated))
                    {
                        <div class="comment">
                            <span class="comment-content">
                                @* If comments has been deleted, replace content with text showing that content has been deleted *@
                                @if (comment.Content.IsNullOrEmpty())
                                {
                                    <p>[Deleted comment]</p>
                                }
                                else
                                {
                                    @comment.Content
                                }
                            </span>
                            
                            <span class="likes">
                                @comment.TotalLikes <i class="fa-solid fa-thumbs-up"></i>
                            </span>
                            
                            @* Link that directs user to the post the comment was made on *@
                            <a asp-controller="Post"
                               asp-action="Post"
                               asp-route-id="@comment.PostId">
                                View post
                            </a>
                        </div>
                    }
                </div>
            }
        </section>

        @* User's liked comments *@
        <section>
            <h3>Liked comments:</h3>
            @if (Model.LikedComments == null || Model.LikedComments.Count == 0)
            {
                <p>You have not liked any comments.</p>
            }
            else
            {
                <div class="comments">
                    @* Lists all comments. Order by DateCreated (new -> old) *@
                    @foreach (var comment in Model.LikedComments.OrderByDescending(comment => comment.DateCreated))
                    {
                        <div class="comment">
                            <span class="comment-content">"@comment.Content"</span>
                            
                            <a asp-controller="Post"
                               asp-action="LikeComment"
                               asp-route-id="@comment.CommentId" asp-route-redirect="false">
                                Remove like
                            </a>
                            
                            <span class="likes">
                                @comment.TotalLikes <i class="fa-solid fa-thumbs-up"></i>
                            </span>
                            
                            @* Link that directs user to the post the comment was made on *@
                            <a asp-controller="Post"
                               asp-action="Post"
                               asp-route-id="@comment.PostId">
                                View post
                            </a>
                        </div>
                    }
                </div>
            }
        </section>
    </section>
</div>