@model forum.ViewModels.AdminDashboardViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welcome to BracketBros</h1>
</div>


<h2>Categories</h2>

<div class="chips">

    @foreach (var category in Model.CategoryList.OrderBy(c => c.Name))
    {
        <a asp-controller="Search"
           asp-action="Search"
           asp-route-term="@category.Name"
           class="category" style="background-color: @category.Color">
            @category.Name

            @if (category.PicturePath != "")
            {
                <img  style=" max-width: 512px; height: auto;" src="@category.PicturePath" alt="Picture of @category.Name">
            }

        </a>
    }

    <h2>Tags</h2>
    @foreach (var tag in Model.TagList.OrderBy(c => c.Name))
    {
        <a asp-controller="Search"
           asp-action="Search"
           asp-route-term="@tag.Name"
           class="tag">
            @tag.Name
        </a>
    }
</div>